<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <link rel="stylesheet" href="/css/admin.css">

    @await RenderSectionAsync("Style", required: false)

</head>
<body>
    <div class="sidebar">
        <h2>Hospital System</h2>
        <ul>
            @* <li id="dash">
            <i class="fas fa-tachometer-alt"></i> Dashboard
            <a class="button" asp-action="Index" asp-controller="Admin">View Dashboard</a>
            </li> *@
            <a asp-action="Index" asp-controller="Admin">
            <li class="logout"><i class="fas fa-tachometer-alt"></i>Dashboard</li> </a>
            <li id="doctorMenu">
                <i class="fas fa-user-md"></i> Doctor
                <a class="button" asp-action="CreateDoctor" asp-controller="Admin">Create Doctor</a>

                <a class="button" asp-action="ListDoctors" asp-controller="Admin">Doctor List</a>

            </li>
            <li id="appointmentMenu">
                <i class="fas fa-calendar-check"></i> Schedule
                <a class="button" asp-action="CreateSchedule" asp-controller="Admin">Create Shchedule</a>
                <a class="button" asp-action="CreateShift" asp-controller="Admin">Create shift</a>
            </li>
            <li id="patientMenu">
                <i class="fas fa-procedures"></i> Patient
                <a class="button" asp-action="GetPatients" asp-controller="Admin">Get All Patient</a>
            </li>
            <li id="medicalRecordsMenu">
                <i class="fas fa-file-medical"></i> Medical Records
                <a class="button" asp-action="AddMedicalRecord" asp-controller="Admin">AddRecord</a>
                <a class="button" asp-action="GetMedicalRecords" asp-controller="Admin">Medical Records List</a>
            </li>
            <a asp-action="LogOut" asp-controller="Account">
            <li class="logout"><i class="fas fa-sign-out-alt"></i>Logout</li></a>
        </ul>
    </div>
    <div class="content" id="ContentID">
        @RenderBody()
    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="/js/admin.js"></script>
</body>
</html>