<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    
</head>
<body>
    <div class="sidebar">
        <h2>Hospital System</h2>
        <ul>
            <li>
                <i class="fas fa-tachometer-alt"></i> Dashboard
                <button class="button">View Dashboard</button>
            </li>
            <li id="doctorMenu">
                <i class="fas fa-user-md"></i> Doctor
                <button class="button">Create Doctor</button>
                <button class="button">Edit Doctor</button>
                <button class="button">Delete Doctor</button>
                <button class="button">Doctor List</button>
            </li>
            <li id="appointmentMenu">
                <i class="fas fa-calendar-check"></i> Appointment
                <button class="button">Create Appointment</button>
                <button class="button">Edit Appointment</button>
                <button class="button">Delete Appointment</button>
                <button class="button">Appointment List</button>
            </li>
            <li id="patientMenu">
                <i class="fas fa-procedures"></i> Patient
                <button class="button">Edit Patient</button>
                <button class="button">Delete Patient</button>
                <button class="button">Get All Patient Details</button>
            </li>
            <li id="medicalRecordsMenu">
                <i class="fas fa-file-medical"></i> Medical Records
                <button class="button">Add Medical Record</button>
                <button class="button">Edit Medical Record</button>
                <button class="button">Delete Medical Record</button>
                <button class="button">Medical Records List</button>
            </li>
            <li class="logout"><i class="fas fa-sign-out-alt"></i> Logout</li>
        </ul>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <script src="/js/admin.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>