@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_ForgetLayout.cshtml";
}

<div class="box-two">
    <form asp-action="ForgetPassword" asp-controller="Account">

        <div asp-validation-summary="All" class="text-danger"></div>

        <label class="l-1" asp-for="Email"></label> <br>
        <input class="text" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>

        
        <input class="sub" type="submit" value="Confirm">

        <p>Have an account? <a asp-action="LogIn" asp-controller="Account">sign in</a></p>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
