@model LogInViewModel
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
}



    <div class="container">
        @* <div class="image-section">
            <img alt="Illustration of medical professionals" src="https://storage.googleapis.com/a1aa/image/dYqMdftZ9ix7BChBHoch6MMtjaswTSa1F8jiZ309rVH7L3yJA.jpg" />
        </div> *@
    
    <form asp-action="LogIn" asp-controller="Account" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for = "ReturnUrl"/>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-section">
            
            
            <a asp-action="Index" asp-controller="Home"><i class="fas fa-hospital hospital-icon"></i></a>
            <h2>Welcome Back</h2>
            <p>Please enter your details to continue</p>
            
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" asp-for="Email" placeholder="Email" required />
                <span asp-validation-for="Email" class="text-danger"></span>    
            </div>
            
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" asp-for="Password" placeholder="Password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="remember-me">
                <input type="checkbox" asp-for="RememberMe" id="remember" />
                <label for="remember">Remember me</label>
            </div>
            <button type="submit">LOGIN</button>
            <div class="options">
                <a asp-action="ForgetPassword" asp-controller="Account">Forgot Password?</a>

                <a asp-action="GoogleAuth" asp-controller="Account" asp-route-ReturnUrl="@Model.ReturnUrl">
                    log in with google
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                        <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"></path>
                    </svg>
                </a>
                <a asp-action="Register" asp-controller="Account">Create a new account</a>
            </div>
        
            
            
        </div>
        </form>
    </div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
