@{
    ViewData["Title"] = "Registered";
    Layout = "_RegisterLayout"; // Ensure this is your updated layout file
}


    <div class="container">
        <h2>Registration Successful</h2>
        <p>Please check your email to confirm your account.</p>
        <a class="link" asp-action="LogIn" asp-controller="Account">Return to Login</a>
    </div>
@section Style {
    <link rel="stylesheet" href="/css/confirmation.css">
}
