.card {
    background-color: #fff;
    border: 2px solid #87CEEB;
    border-radius: 10px;
    width: 250px;
    margin: 15px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Added transition */
}

    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
        transform: translateY(-5px); /* Slightly lift the card on hover */
    }

    .card img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .card h3 {
        font-size: 20px;
        margin: 15px 0 5px;
        color: #333;
    }

    .card p {
        font-size: 16px;
        color: #87CEEB;
        margin: 0 0 15px;
    }

    .card .social-icons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

        .card .social-icons a {
            color: #87CEEB;
            font-size: 20px;
            text-decoration: none;
            border: 2px solid #87CEEB;
            border-radius: 50%;
            padding: 10px;
            transition: background-color 0.3s, color 0.3s;
        }

            .card .social-icons a:hover {
                background-color: #87CEEB;
                color: #fff;
            }
